<div class="card">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="input-container">
      <label for="username">Username</label>
      <input type="text" id="username" [(ngModel)]="userName" name="userName" required>
    </div>
    <div class="input-container">
      <label for="password">Password</label>
      <div class="password-container">
        <input 
          [type]="passwordFieldType" 
          id="password" 
          [(ngModel)]="password" 
          name="password" 
          required
        >
        <mat-icon class="eye-icon" (click)="togglePasswordVisibility()">
          {{ passwordFieldType === 'password' ? 'visibility' : 'visibility_off' }}
        </mat-icon>
      </div>
    </div>
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form>
  <p>Don't have an account? <a [routerLink]="['/signup']">Sign up</a></p>
</div>
