<div class="home">
    <h1 class="Header">
        <span id="solution">Solution</span> Explorer
    </h1>
    <div class="dropdown">
        <button *ngIf="!isButtonHidden" class="dropbtn headingFont" (click)="toggleDropdown()">
            <span class="text">Solution Explorer</span>
            <mat-icon [ngClass]="{'rotate': isDropdownOpen}">
                {{ isDropdownOpen ? 'close' : 'keyboard_arrow_down' }}
            </mat-icon>
        </button>
        <div *ngIf="!isDropdownHidden" class="dropdown-content headingFont" [ngClass]="{'show': isDropdownOpen}">
            <a [routerLink]="['/IntimateImagesComponent']" (click)="hideButton()">Intimate Images</a>
            <a [routerLink]="['/accident']" (click)="hideButton()">Vehicle Accidents</a>
            <a [routerLink]="['/SmallClaimsComponent']" (click)="hideButton()">Small Claims</a>
            <a [routerLink]="['/StrataPropertyComponent']" (click)="hideButton()">Strata Property</a>
            <a [routerLink]="['/SocietiesAndCooperativeAssociationsComponent']" (click)="hideButton()">Societies and Cooperative Associations</a>
        </div>
    </div>
</div>
